.headerContent {
  height: 100%;
  margin: 0;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.noneDeco {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}